


  <table>
  <colgroup span="4" class="columns"></colgroup>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagen</th>
  </tr>
    {{#each usarios}}
  <tr>
    <td>{{Nombre}}</td>

    <td>{{Precio}}</td>

    <td>{{Imagen}}</td>


    </tr>
  
    {{/each}}
</table>

